/* ==========================================================================
Layout: Header
========================================================================== */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 32px 0;
  z-index: zi(header);
  background-color: color(white);
  transition: all .3s ease;
  .on-scroll & {
    @include shadow(1);
  }
  @include large {
    padding: 24px 0;
  }
  @include medium {
    padding: 20px 0;
  }
  @include small {
    padding: 16px 0;
  }
  &__wrapper {
    @include clearfix;
  }
  &__logo {
    float: left;
    &__el {
      height: 56px;
      display: block;
      @include medium {
        height: 48px;
      }
      @include small {
        height: 40px;
      }
    }
  }
  &__user {
    $hu: &;
    float: right;
    @include clearfix;
    &__link {
      display: inline-block;
      text-decoration: none;
      margin: 0 8px 0 0;
      &:hover {
        #{$hu}__img {
          background-color: transparent;
          border-color: color(primary);
        }
      }
    }
    &__img {
      margin-left: 8px;
      display: inline-block;
      vertical-align: middle;
      width: 56px;
      height: 56px;
      border: 1px solid transparent;
      border-radius: 50%;
      background-color: color(grey, 1);
      text-align: center;
      transition: all .3s ease;
      overflow: hidden;
      @include medium {
        width: 48px;
        height: 48px;
      }
      @include small {
        width: 40px;
        height: 40px;
      }
      &__el {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
