-
  dataDashboard = {
    title: 'poolpoint',
    titleTotal: 'Total Point Aktif',
    point: 'Rp. 100.000',
    desc: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus obcaecati voluptatem consectetur sequi quisquam exercitationem. Facere ut ex in mollitia.',
    img: 'coin.svg',
    alt: 'coin',
    titleTransaksi: 'Riwayat Transaksi',
    imgDate: 'date.svg',
    date: '29 Okt 2021 - 30 Okt 2021',
    icon: 'arrow.svg',
    list1: [
      {
        date: 'Jumat, 29 Okt 2021',
        time: '12:38 wib',
        icon: 'affiliate.svg',
        name: 'Referral',
        point: '100.000',
        desc: 'PoolPoint',
        iconPoint: 'coin.svg'
      },
      {
        date: 'Jumat, 29 Okt 2021',
        time: '12:38 wib',
        icon: 'refund.svg',
        name: 'Cashback',
        point: '100.000',
        desc: 'PoolPoint',
        iconPoint: 'coin.svg'
      },
      {
        date: 'Jumat, 29 Okt 2021',
        time: '12:38 wib',
        icon: 'affiliate.svg',
        name: 'Referral',
        point: '100.000',
        desc: 'PoolPoint',
        iconPoint: 'coin.svg'
      },
      {
        date: 'Jumat, 29 Okt 2021',
        time: '12:38 wib',
        icon: 'affiliate.svg',
        name: 'Referral',
        point: '100.000',
        desc: 'PoolPoint',
        iconPoint: 'coin.svg'
      }
    ],
    list2: [
      {
        date: 'Jumat, 29 Okt 2021',
        time: '12:38 wib',
        icon: 'affiliate.svg',
        name: 'Referral Point Masuk',
        point: '100.000',
        desc: 'PoolPoint',
        iconPoint: 'coin.svg'
      },
      {
        date: 'Jumat, 29 Okt 2021',
        time: '12:38 wib',
        icon: 'refund.svg',
        name: 'Cashback Point Masuk',
        point: '100.000',
        desc: 'PoolPoint',
        iconPoint: 'coin.svg'
      },
      {
        date: 'Jumat, 29 Okt 2021',
        time: '12:38 wib',
        icon: 'affiliate.svg',
        name: 'Referral Point Masuk',
        point: '100.000',
        desc: 'PoolPoint',
        iconPoint: 'coin.svg'
      },
      {
        date: 'Jumat, 29 Okt 2021',
        time: '12:38 wib',
        icon: 'affiliate.svg',
        name: 'Referral Point Masuk',
        point: '100.000',
        desc: 'PoolPoint',
        iconPoint: 'coin.svg'
      }
    ],
    list3: [
      {
        date: 'Jumat, 29 Okt 2021',
        time: '12:38 wib',
        icon: 'affiliate.svg',
        name: 'Referral Point Keluar',
        point: '100.000',
        desc: 'PoolPoint',
        iconPoint: 'coin.svg'
      },
      {
        date: 'Jumat, 29 Okt 2021',
        time: '12:38 wib',
        icon: 'refund.svg',
        name: 'Cashback Point Keluar',
        point: '100.000',
        desc: 'PoolPoint',
        iconPoint: 'coin.svg'
      },
      {
        date: 'Jumat, 29 Okt 2021',
        time: '12:38 wib',
        icon: 'affiliate.svg',
        name: 'Referral Point Keluar',
        point: '100.000',
        desc: 'PoolPoint',
        iconPoint: 'coin.svg'
      },
      {
        date: 'Jumat, 29 Okt 2021',
        time: '12:38 wib',
        icon: 'affiliate.svg',
        name: 'Referral Point Keluar',
        point: '100.000',
        desc: 'PoolPoint',
        iconPoint: 'coin.svg'
      }
    ]
  };
include ../../layouts/dashboard.pug
