//-------------------------------------------------------------------------------
  @name: Header
  -------------------------------------------------------------------------------//

//header
.header
  .container
    .header__wrapper
      ='\n'
      //header__logo
      ='\n'
      a.header__logo(href='#')
        ='\n'
        img.header__logo__el(src='assets/img/logo/poolapack.svg' alt='poolapack')/
        ='\n'
      ///header__logo
      //header__user
      .header__user
        ='\n'
        a.header__user__link(href='#')
          ='\n'
          | Admin
          ='\n'
          span.header__user__img
            ='\n'
            img.header__user__img__el(src='assets/img/icons/user.png' alt='user')/
            ='\n'
          ='\n'
      ='\n'
      ///header__user
='\n'
///header
