/* ==========================================================================
   Variable: Colors
   ========================================================================== */

// colors
$colors: (
  primary: #f9be00,
  primary-rgba: #fef5d9,
  accent: #ecf1f4,
  rgba: #fef5d9,
  black: #222,
  white: #fff,
  grey: (
    1: #e5e5e5,
    2: #8c8ca1,
    3: #383535,
    4: #9797aa,
    5: #eef2f5
  ),
  shadow: rgba(#000, .1)
);
