/* ==========================================================================
   Variable: Typography
   ========================================================================== */

$font-main: 'Open Sans', sans-serif;

// Font
$font: (
  family-main: $font-main,
  40: (
    font-size: 4rem,
    line-height: 2rem
  ),
  24: (
    font-size: 2.4rem,
    line-height: 2rem
  ),
  16: (
    font-size: 1.6rem,
    line-height: 2rem
  ),
  12: (
    font-size: 1.2rem,
    line-height: 2rem
  ),
  weight: (
    reguler: 400,
    semi-bold: 600,
    bold: 700
  )
);
